@import '../../../assets/styles-variables.scss';

.course-form input[type='text'],
.course-form input[type='number'] {
  width: 100%;
}

.course-form .ng-invalid {
  border-left: 5px solid $app-red;
}

.course-form .ng-valid {
  border-left: 5px solid $app-success;
}