.modal {
  background: rgba(0,0,0,0.6);
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out !important;
  transform: translate(0, 0) !important;
  -webkit-transform: translate(0,0);
}